<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title>Schools</title>
</head>
<body>
<h1>All Schools:</h1>
<h2 th:text="${nazwazmiwennej}"></h2>

<table>
    <tr>
        <td>ID</td>
        <td>Nazwa</td>
        <td>Numer</td>
        <td>Edit School</td>
        <td>Delete School</td>
    </tr>
    <tr th:each="School : ${schoolList}">
        <td th:text="${School.id}"}></td>
        <td th:text="${School.name}"></td>
        <td th:text="${School.getNumber()}"></td>
        <td>
            <a th:href="@{/editSchool(id=${School.id})}">Edit School</a>
        </td>
        <td>
            <a th:href="@{/deleteSchool(id=${School.id})}">Edit School</a>
        </td>
    </tr>
</table>
</body>
</html>