<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/forms.css}" rel="stylesheet" />
    <title>Edit School</title>
</head>
<body>
<h1>Edit School</h1>

<form action="#" th:action="@{/editSchool}" th:abject="${school}" method="post">
    <input id="id" type="text" placeholder="id" th:field="${school.id}">
    <input id="name" type="text" placeholder="Nazwa" th:field="${school.name}">
    <input id="number" type="text" placeholder="Numer" th:field="${school.number}">

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>